html {
    background-color: rgba(0,0,0,.7);

    font-family: monospace;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.header h1 {
    margin: 1rem;
    padding: 1rem;
    font-size: 50px;
}

.header h3 {
    margin: .2rem;
}

.game-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.game-box {
    margin: 0 1rem;
}

.text-to-type {
    background-color: rgba(0,0,0,.2);
    text-align: left;
    padding: 1rem;
    width: 20rem;
}

.text-input textarea {
    background-color: rgba(0,0,0,.2);
    min-height: 20rem;
    min-width: 20rem;
    padding: 1rem;
    font-size: 1rem;
}

.results-section {
    display: none;
    min-width: 20%;
    justify-content: space-around;
}

.timer-container {
    margin: 1rem;
    width: 100%;
}

#timer {
    color: green;
    font-size: 1.5rem;
}

.correct {
    color: green;
}

.incorrect {
    color: #ff1a1a;
}

#button-container {
    display: none;
    width: 100%;
    justify-content: center;
    margin-top: 0;
}

button {
    background-color: green;
    font-family: monospace;
    font-size: 18px;
    display: block;
    
}

.result {
    margin: 1rem 1rem 0 1rem;
    width: 50%;
}

.result h3 {
    font-weight: bold;
}

#net-wpm {
    color: yellow;
    opacity: .7;
}